In [1]:
import pandas as pd
from name import (
    generate_name,
    generate_surname,
    generate_fullname
)

In [6]:
names = [generate_name() for _ in range(10)]
surnames = [generate_surname() for _ in range(10)]


df = pd.DataFrame({
    "name": names,
    "surname": surnames
})

In [7]:
df

        name    surname
0      Pavel     Kozlov
1    Mikhail    Sokolov
2     Andrey    Morozov
3  Alexander  Kuznetsov
4      Roman  Kuznetsov
5  Alexander      Orlov
6     Andrey    Zaitsev
7     Sergey    Zaitsev
8     Dmitry    Smirnov
9   Vladimir    Fedorov