In [122]:
import pandas as pd
from name import (
    generate_name,
    generate_surname,
    generate_fullname
)
from mail import generate_email
from location import generate_country

In [123]:
samples = 1000000


names = [generate_name() for _ in range(samples)]
surnames = [generate_surname() for _ in range(samples)]
emails = [generate_email(names[i], surnames[i], random_domain=True) 
                                                for i in range(samples)]
countries = [generate_country() for _ in range(samples)]



df = pd.DataFrame({
    "name": names,
    "surname": surnames,
    "email": emails,
    "country": countries,
})

In [124]:
df

             name   surname                          email      country
0         Nikolay   Lebedev          nikolay_lebedev@bk.ru      Finland
1          Andrey     Belov      andrey_belov@fastmail.com     Colombia
2            Ivan   Sokolov          ivan_sokolov@mail.com       Sweden
3       Alexander   Zaitsev       alexander_zaitsev@gmx.de  New Zealand
4       Alexander   Smirnov      alexander_smirnov@list.ru      Denmark
...           ...       ...                            ...          ...
999995     Andrey   Lebedev           andrey_lebedev@bk.ru       France
999996     Dmitry   Fedorov  dmitry_fedorov@protonmail.com    Argentina
999997      Roman    Karpov        roman_karpov@rambler.ru      Armenia
999998    Nikolay  Solovyov     nikolay_solovyov@gmail.com  Switzerland
999999  Alexander   Fedorov      alexander_fedorov@mail.ru      Denmark

[1000000 rows x 4 columns]

In [125]:
(
    df
    .groupby(by="country")
    .agg(number_of_users=("country", "count"))
    .sort_values(by="number_of_users", ascending=False)
)

                      number_of_users
country
Australia                       55663
New Zealand                     55525
Azerbaijan                      37184
Canada                          37174
Armenia                         37112
Mexico                          37104
Georgia                         36954
United States                   36799
Finland                         27961
Turkey                          27838
Israel                          27819
Argentina                       27818
Norway                          27742
Brazil                          27715
Chile                           27701
Sweden                          27684
United Arab Emirates            27679
Denmark                         27619
Colombia                        27560
Saudi Arabia                    27558
India                           18654
Vietnam                         18621
Japan                           18604
China                           18587
Indonesia                       18475
South Korea                     18439
Russia                          15977
Ukraine                         15890
Czech Republic                  15872
Slovakia                        15862
Romania                         15780
Hungary                         15761
Poland                          15657
United Kingdom                  14070
Ireland                         14047
Netherlands                     14005
Austria                         13955
Belgium                         13955
France                          13944
Switzerland                     13904
Germany                         13732